<launch>

    <!-- feature extraction 노드 실행 -->
    <rosparam command="load" file="$(find hero_slam)/config/feature.yaml" ns=""/>
    <node pkg="hero_slam" name="feature_extraction" type="feature_extraction_node_sim.py" output="screen"/>

    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find hero_slam)/rviz/feature_extraction.rviz"/>
</launch>
